src/main/app/api-resources-plans.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">


	<flow name="buscaPlanes" doc:name="buscaPlanes">
		<logger level="INFO" doc:name="Logger"/>
		<jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryTimeout="-1" connector-ref="Database" doc:name="Select planes" queryKey="select">
            <jdbc-ee:query key="select" value="select p.id, p.name, p.mensualidad, p.minutos_redes, p.minutos_net, p.data, p.sms, b.name from telephony.plans p, telephony.billings b where p.billing_id = b.id and b.name = #[message.inboundProperties.billing]"/>
		</jdbc-ee:outbound-endpoint>
	</flow>

	<flow name="buscaPlan" doc:name="buscaPlan">
		<logger level="INFO" doc:name="Logger"/>
		<jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryTimeout="-1" connector-ref="Database" doc:name="Select planes" queryKey="select">
            <jdbc-ee:query key="select" value="select p.id, p.name, p.mensualidad, p.minutos_redes, p.minutos_net, p.data, p.sms, b.name from telephony.plans p, telephony.billings b where p.billing_id = b.id and p.id = #[plan]"/>
		</jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload[0]]" doc:name="First record"/>
	</flow>

	<flow name="buscaFabricantes" doc:name="buscaFabricantes">
		<logger level="INFO" doc:name="Logger"/>
		<jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryTimeout="-1" connector-ref="Database" doc:name="Select Fabricantes" queryKey="select">
            <jdbc-ee:query key="select" value="select f.id, f.name from telephony.fabricantes f"/>
		</jdbc-ee:outbound-endpoint>
	</flow>

	<flow name="buscaFabricante" doc:name="buscaFabricante">
		<logger level="INFO" doc:name="Logger"/>
		<jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryTimeout="-1" connector-ref="Database" doc:name="Select Fabricantes" queryKey="select">
            <jdbc-ee:query key="select" value="select f.id, f.name from telephony.fabricantes f where f.id = #[fabricante]"/>
		</jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload[0]]" doc:name="First record"/>
	</flow>

	<flow name="buscaFabricanteEquipos" doc:name="buscaFabricanteEquipos">
		<logger level="INFO" doc:name="Logger"/>
		<jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryTimeout="-1" connector-ref="Database" doc:name="Select Equipos" queryKey="select">
            <jdbc-ee:query key="select" value="select e.id, e.name, e.description from telephony.equipos e, telephony.fabricantes f where e.fabricante_id = f.id and f.id = #[fabricante]"/>
		</jdbc-ee:outbound-endpoint>
	</flow>

	<flow name="buscaFabricanteEquipo" doc:name="buscaFabricanteEquipo">
		<logger level="INFO" doc:name="Logger"/>
		<jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryTimeout="-1" connector-ref="Database" doc:name="Select Equipos" queryKey="select">
            <jdbc-ee:query key="select" value="select e.id, e.name from telephony.equipos e where e.id = #[equipo]"/>
		</jdbc-ee:outbound-endpoint>
        <set-payload value="#[payload[0]]" doc:name="First record"/>
	</flow>

</mule>
