src/main/app/rules.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">
    <data-mapper:config name="resultset_to_beans_grf" transformationGraphPath="resultset_to_beans.grf" doc:name="DataMapper"/>
	<flow name="credit-check" doc:name="credit-check">
		<quartz:inbound-endpoint repeatInterval="600000" responseTimeout="10000" doc:name="Cada 30 segundos" jobName="check">
			<quartz:event-generator-job groupName="check" jobGroupName="check">
				<quartz:payload>Check</quartz:payload>
			</quartz:event-generator-job>
		</quartz:inbound-endpoint>
		<jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryTimeout="-1" connector-ref="Database" doc:name="Select from Call History" queryKey="select">
            <jdbc-ee:query key="select" value="select h.cliente_id, h.mins, h.date, h.time from telephony.call_history h"/>
		</jdbc-ee:outbound-endpoint>
		<foreach doc:name="For Each Record">
            <data-mapper:transform config-ref="resultset_to_beans_grf" doc:name="ResultSet to Beans"/>
			<bpm:rules rulesDefinition="rules.drl" initialFacts-ref="NoFactsBean"></bpm:rules>
		</foreach>
	</flow>
	<flow name="red-alert" doc:name="red-alert">
		<vm:inbound-endpoint exchange-pattern="one-way"  doc:name="red-alert" path="red-alert"/>
		<logger level="INFO" doc:name="Log minutes" message="#[payload.minutes] minutes on a Call History entry"/>
		<jdbc-ee:outbound-endpoint exchange-pattern="one-way" queryTimeout="-1" connector-ref="Database" doc:name="Update Credit Check" queryKey="update">
            <jdbc-ee:query key="update" value="update telephony.credit_check cc set cc.flag = 'RED' where cc.cliente_id = #[payload.clientId]"/>
		</jdbc-ee:outbound-endpoint>
	</flow>
</mule>
